body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: beige;
  background: url("https://media.istockphoto.com/id/1278266876/photo/blank-product-display-on-dark-studio-background-with-pedestal-or-podium-empty-showcase-stand.jpg?s=612x612&w=0&k=20&c=N5MaxXV2vuQZPc6aEYxYmOZcOXvvjVOfxg85ndFDXdg=");
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.newImage{
  margin: 20px;
  width: 50px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: white;
}
.newImage:hover{
  box-shadow: 0px 0px 5px white;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.image{
  padding: 20px;
}

.categories{
  display: flex;
  width: 400px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.category{
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 3px beige;
  background-color: darkslategray;
}

h1{
  margin:none;
  padding: none;
}
.banlist{
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

li{
  cursor: pointer;
}