.Header{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.logo{
  width:200px;
  filter: invert(51%) sepia(35%) saturate(3040%) hue-rotate(341deg) brightness(96%) contrast(94%);
}

.headerText{
  font-size:30px;
  color:white;
}