body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #36454F;
  color: lightgrey;
}

h1{
  color: #F87D51;
  margin-top: 0;
}

h2, h4, h3{
  margin-top: 0;
  margin-bottom: 0;
}


.title{
  font-size: 60px;
  font-weight: 600;
  margin: 20px;
}


.App{
  display: flex;
  flex-direction: row;
  height: 100vh;
  
}
nav{
  flex-basis: 11%;
  display: flex;
  min-height: 100%;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E2B33;
  padding: 20px
}

.content{
  width: 100%;
  padding: 20px;
  margin-left: 250px;
}

.homePage{
  display: flex;
  flex-basis: 95%;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Create Crewmates */
.createForm{
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

input{
  background-color: lightslategray;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid;
}

select{
  background-color: beige;
  border: 0px;
  margin-top: 5px;
}


.createContent{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.formSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: lightslategrey;
  color: black;
}

.submitButton{
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
  border: none;
  color: beige;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px
  
}

/* Gallery */
.galleryCards{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}

.galleryCard{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.editButton{
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  background-color: black;
  color: white;
}

.editButton:hover{
  box-shadow: 0px 0px 5px beige;
}

/* Individual Crewmate */
.individualCrewmate{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.individualInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.crewInfo{
  display: flex;
  gap: 30px;
}

.buttons{
  display: flex;
  gap: 20px;
}